{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="title"><span class="uk-icon uk-icon-image" id="dwarf" style="background-image: url({{asset('img/dwarf.png')}});"></span> Bienvenue Etranger! <span class="uk-icon uk-icon-image" id="kratos" style="background-image: url({{asset('img/kratos.png')}});"></span></h1>

</div>
{% endblock %}
